*:before, *:after {
  box-sizing: border-box;
}

/* MAIN STYLES */
body {
  background-color: lightcoral;
  font-family: 'Nunito', sans-serif;
}

form {
  margin: 75px auto;
  max-width: 300px;
  padding: 50px 80px 50px 50px;
  background: #f4f7f8;
  border-radius: 8px;
  text-align: left;
}

h1 {
  margin: 0 0 50px 0;
  text-align: left;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  background-color: lightseagreen;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightcoral;
  margin-bottom: 10px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1);
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

/* MEDIA QUERIES */
@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }
}

